html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------header--------------------- */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1020px;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 620px;
}

.nav__item {
    cursor: pointer;
    font-size: 13px;
    color: rgba( 102, 102, 102, 67%);
    font-weight: 600;
    transition: all 0.2s linear;
    margin-top: 8px;
    text-transform: uppercase;
}

.nav__item:hover {
    color: #666;
}

.btn {
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: #bcda5c;
    font-size: 13px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s linear;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #8ab302;
}

/* ---------------property--------------------- */

.property {
    position: relative;
    z-index: 3;
    background: url(images/property.png);
    background-size: cover;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.property:before {
    background: rgb(0 0 0 / 29%);   /*задаем цвет и прозрачность затемнения*/
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.property__title {
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
    width: 100%;
    padding-top: 170px;
}

.property__subtitle {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 60px;
    width: 100%;
}

.btn-2 {
    background-color: #99c50a;
    padding: 20px 35px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: 600;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn-2:hover {
    background-color: #8ab302;
}

.property__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.property__switch {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 45px;
}

.switch__left {
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.switch__left:hover {
    transform: scale(1.2);
}

.switch__right {
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.switch__right:hover {
    transform: scale(1.2);
}


/* ---------------work--------------------- */


.work {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.work__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.work__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.work__subtitle p {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: rgba(0,0,0,59%);
    line-height: 1.7;
    margin-bottom: 55px;
}

.work__switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
    width: 100%;
}

.switch__simple {
    display: flex;
    align-items: center;

}

.switch__transparent {
    display: flex;
    align-items: center;

}

.switch__collaborative {
    display: flex;
    align-items: center;

}

.number-work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:#5f5f5f;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 40px 30px;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:#99c50a;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 40px 30px;
}

.work__plus {
    font-size: 33px;
    font-weight: 300;
}

.work__line {
    background-color:#e6e6e6;
    height: 2px;
    color: #e6e6e6;
    width: 100%;
}


.work__project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__logo {
    padding: 87px 110px 120px 110px;
}



.project__title {
    font-size: 25px;
    color: #99c50a;
    font-weight: 400;
    margin-bottom: 35px;
    text-align: center;
    margin-left: -100px;
    margin-top: -40px;
}

.project__subtitle {
    font-size: 17px;
    color: rgba(0, 0, 0, 53%);
    font-weight: 400;
    line-height: 1.7;
}


/* ---------------find--------------------- */


.find {
    display: flex;
    align-items: center;
    justify-content: center;
}


.find-properties {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #e2f8ff;
    padding-top: 47px;
    width: 50%;
}


.find-buyers {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f5f9eb;
    padding-top: 47px;
    width: 50%
}

.find-about {
    width: 260px;
    margin-bottom: 50px;
    padding-right: 55px;
}

.find__logo-properties {
    padding-right: 60px;
    margin-top: -90px;
}

.find__logo-buyers {
    padding-right: 80px;
    padding-left: 70px;
    margin-top: -90px;
}

.find__title {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    color: #515151;
    
}

.find__subtitle {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #515151;
    line-height: 1.7;
}

.find__btn-properties {
    margin-top: 34px;
    background-color: #26a6d1;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s linear;
    cursor: pointer;
}

.find__btn-properties:hover {
    background-color: #228baf;
}



.find__btn-buyers {
    margin-top: 34px;
    background-color: #add136;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s linear;
    cursor: pointer;
}


.find__btn-buyers:hover {
    background-color:#8ba92a
}




/* ---------------projects--------------------- */

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__header {
    width: 650px;
    padding-top: 83px;
    margin-bottom: 70px;
}

.projects__title {
    font-size: 29px;
    font-weight: 600;
    color: #515151;
    margin-bottom: 25px;
}

.projects__subtitle {
    font-size: 17px;
    font-weight: 400;
    color: #8f8f8f;
    line-height: 1.6;
}

.projects__btn {
    padding: 20px 25px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #b6b6b6;
    font-size: 15px;
    font-weight: 600;
    color: #b6b6b6;
    cursor: pointer;
    transition: all 0.2s linear;
}

.projects__btn:hover {
    background-color: #9c9c9c;
    color: #fff;
}


.project-columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 80px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    width: 300px;
    z-index: 1;
    background-color: #f9f9f9
}

.column__img {
    display: block;
    width: 101%;
    height: auto;
    background-size: cover;
    z-index: 3;
    margin-top: -3px;
    margin-right: -1px;
}


.column-about {
    padding: 30px 25px 25px 25px;
}


.column__title {
    font-size: 17px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 20px;
}

.column__subtitle {
    font-size: 13px;
    font-weight: 400;
    color: #484848;
    line-height: 1.4;
    margin-bottom: 35px;
}

.column__band {
    margin-bottom: 20px;
}

.column__band-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column__band-about p {
    font-size: 13px;
    font-weight: 600;
    color: #8d8d8d;
    margin-bottom: 20px;
}

.project__line {
    height: 1px;
    background-color: #d6d6d6;
    margin-bottom: 25px;
}

.see-project-detalies {
    display: flex;
    justify-content: end;
    align-items: center;
}

.project__detalies {
    text-decoration: none;
    color: #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s linear;
}

.project__detalies:hover {
    color: #000;
}

.detalies__img {
    padding-left: 12px;
    margin-bottom: -3px;
}